// @import '../bower_components/neat/app/assets/stylesheets/neat';
@import 'bourbon/bourbon';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

header {
  background-color: #EEE;
  height: 40px;
  padding-right: 10px;
}

#headerWrap {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -130px;
}

#notifications {
  height: 38px;
  width: 40px;
  border: 1px #E5E5E5 solid;
  float: left;
}

#notificationsButton {
  height: 6px;
  width: 6px;
  position: relative;
  top: 16px;
  background-color: #B9B9B9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.headerLink {
  float: left;
  top: 12px;
  position: relative;
  left: 16px;
  padding-left: 16px;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: bold;
}

#headerDataWrap {
    float: right;
    top: 11px;
    position: relative;
    left: 16px;
    padding-right: 16px;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    font-weight: bold;
    margin-left: -14px;
  }

#search {
  top: 8px;
  position: relative;
  left: 16px;
  float: left;
}

#container {
  margin-top: 20px;
  margin-left: 60px;
}

#wrapper {
  color: grey;
  font-size: 11px;
  // border-bottom-color: grey;
  // border-bottom-style: solid;
  // border-bottom-width: 1px;

  a {
    position: relative;
    top: -8px;
    font-weight: bold;
    font-size: 20px;
  }
}

#side {
  width: 230px;
  float: left;
}

#username {
  color: grey;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#joined {
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-bottom-width: 1px;
  height: 45px;
}

#clock {
  padding-top: 10px;
  padding-right: 5px;
  float: left;
}

#joinedDate {
  margin-top: 14px;
  float: left;
  font-size: 14px;
  width: 190px;
}

#statsWrapper {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}

$statPadding: 19px;

.num {
  float: left;
  padding-left: $statPadding;
  padding-right: $statPadding;
  text-align: center;
}

.statsText {
  color: grey;
  font-size: 10px;
  font-weight: 200;
}

#main {
  width: 740px;
  float: left;
  left: 15px;
  position: relative;
}

.tab {
  position: relative;
  top: -7px;
  color: #3F3F3F;
  font-size: 15px;
  left: 32px;
}

#boxContributions {
  border-width: 1px;
  border-color: #B9B9B9;
  height: 40px;
  width: 135px;
  border-bottom-style: solid;
  float: left;
}

#box {
  border-width: 3px;
  border-style: solid;
  height: 12px;
  width: 12px;
  position: relative;
  top: 10px;
  left: 10px;
}

#boxRepos {
  border-width: 1px;
  border-color: #B9B9B9;
  height: 40px;
  width: 135px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  float: left;
}

#boxActivity {
  border-width: 1px;
  border-color: #B9B9B9;
  height: 40px;
  width: 468px;
  float: left;
  border-bottom-style: solid;
}

#repoOptions {
  position: relative;
  top: 14px;
}

$labelMargin: 11px;

.label {
  margin-left: $labelMargin;
  margin-right: $labelMargin;
  margin-top: $labelMargin;
  float: left;
}

#list {
  width: 740px;
  float: left;
  position: relative;
  top: 25px;
  border-top-style: solid;
  border-color: #B9B9B9;
  border-width: 1px;
}

.name {
  border-style: solid;
}

.repoInfo {
  
}