
@import 'bourbon/bourbon';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  background-color: #EEE;
  height: 40px;
  padding-right: 10px;
}

#headerWrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#notifications {
  height: 38px;
  width: 40px;
  border: 1px #E5E5E5 solid;
  float: left;
}

#notificationsButton {
  height: 6px;
  width: 6px;
  position: relative;
  top: 16px;
  background-color: #B9B9B9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.headerLink {
  float: left;
  top: 12px;
  position: relative;
  left: 16px;
  padding-left: 16px;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: bold;
}

#headerDataWrap {
    float: right;
    top: 11px;
    position: relative;
    left: 16px;
    padding-right: 16px;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    font-weight: bold;
    margin-left: -14px;
  }

#search {
  top: 8px;
  position: relative;
  left: 16px;
  float: left;
}

#container {
  margin-top: 20px;
  margin-left: 60px;
}

aside {
  width: 230px;
}

#username {
  color: grey;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#joined {
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-bottom-width: 1px;
  height: 45px;
}

#clock {
  padding-top: 10px;
  padding-right: 5px;
  float: left;
}

#joinedDate {
  margin-top: 14px;
  float: left;
  font-size: 14px;
  width: 190px;
}

#statsWrapper {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}

$statPadding: 19px;

.num {
  float: left;
  padding-left: $statPadding;
  padding-right: $statPadding;
}

.statsText {
  color: grey;
  font-size: 10px;
  font-weight: 200;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
